#forgot-password {
  margin-top: 30px;
  font-size: 18px;
}

#forgot-password a {
  color: #777474;
  font-weight: 500;
}

#forgot-password a:hover {
  text-decoration: underline;;
}

#buttons {
  margin-top: 30px;
  position: relative;
}

