@import '../../global.scss';

#forgot-password {
  text-align: center;
  font-size: 18px;
  @media #{$medium-up} {
    margin-top: 30px;
  }
}

#forgot-password a:hover {
  text-decoration: underline;
}

.btn-register, .btn-register:hover, .btn-register:active {
  color: #fff !important;
  background-color: $primary-color !important;
  border-radius: 20px !important;
  padding: 8px 20px !important;
}
