@import '../../variables';

.check-balance {
  max-width: 500px;
  margin: 0 auto;
  border: 1px solid #dbdbdb;
  padding: 1rem;

  .mat-mdc-form-field-error {
    line-height: 1;
  }

  &__result {
    margin: 15px 0 25px;

    * {
      color: $primary-color
    }
  }

  &__button {
    height: 60px;
  }
}
