@import 'variables';

@mixin remove-autocomplete-styles($background-color) {
  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:invalid,
  textarea:-webkit-autofill,
  textarea:-webkit-autofill:hover,
  textarea:-webkit-autofill:focus,
  textarea:-webkit-autofill:invalid,
  select:-webkit-autofill,
  select:-webkit-autofill:hover,
  select:-webkit-autofill:focus,
  select:-webkit-autofill:invalid {
    -webkit-box-shadow: 0 0 0 1000px $background-color inset;
    transition: background-color 5000s ease-in-out 0s;
  }
}
@mixin darken-color($property ,$color, $lightness-percentage: -5%) {
  #{$property}: adjust-color($color, $lightness: $lightness-percentage);
  }
