@import 'variables';

.modal-content,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: $tertiary-color !important;

  .form-control {
    color: $tertiary-color !important;
    }
  }

.card-body {
  color: white;
  }
