// Breakpoints
$xxsmall: 380px !default;
$xsmall: 480px !default;
$small: 540px !default;
$medium: 768px !default;
$large: 1024px !default; // primary switch from mobile
$xlarge: 1280px !default;
$xxxlarge: 1940px !default;

$header-height: 60px;

// Colors
$primary-color: #ddc082;
$secondary-color: #231f20;
$tertiary-color: #9b8060;
$nav-link-color: #ecebe8;
$nav-link-hover-color: #8a909d;
$border-color-gray: #e5e9f2;
$uteg-bg-color: #fbf0f4;
$text-color: #535353;
$primary-button-active: #7e1523;
$disabled-button: #b4bccd;
$warning-color: #efaf1d;

// Fonts
$uteg-font-family: Muli, sans-serif;